<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" forceCoversAnnotation="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <testsuites>
    <testsuite name="Base">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <!-- The parity suite builds 2000x12 matrices and their m x m products; the
         128M default runs out part way through. -->
    <ini name="memory_limit" value="4G"/>
    <env name="ENV" value="testing"/>
  </php>
</phpunit>
